:root {
    --primary-color: rgb(155, 124, 173);
    --secondary-color: #fff;
    --tertiary-color: rgb(202, 131, 171);

    --transparent-primary: rgba(155, 124, 173, 0.3);
    --transparent-secondary: rgba(255, 255, 255, 0.3);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--transparent-primary);
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    text-align: center;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 15px;
    letter-spacing: 2px;
}

h1 {
    margin: 10px auto 0px;
    width: 80%;
    min-width: fit-content;
    padding: 0px 15px;
    box-shadow: 3px 3px var(--tertiary-color), -3px -3px var(--primary-color);
}

h2 {
    margin: 0px auto;
    max-width: 900px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

h2:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

/* .pokemon-info {
    background-color: var(--transparent-secondary);
    max-width: 800px;
    margin: -15px auto 10px auto;
    text-align: center;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
} */

.pokemon-list {
    list-style-type: none;
    text-align: center;
    margin: 0px auto 0px -40px;
}

.pokemon-button {
    cursor: pointer;
    width: 50%;
    min-width: fit-content;
    padding: 5px;
    margin: 0px auto 10px auto;
    text-align: center;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pokemon-button:hover {
    border: 2px solid #000;
    background-color: var(--transparent-secondary);
    color: var(--tertiary-color);
    letter-spacing: 3px;
}