:root {
    --primary-color: rgb(155, 124, 173);
    --secondary-color: #fff;
    --tertiary-color: rgb(202, 131, 171);

    --light-primary: rgb(226, 215, 232);

    --transparent-primary: rgba(155, 124, 173, 0.3);
    --transparent-primary-overlay: rgba(155, 124, 173, 0.9);
    --transparent-secondary: rgba(255, 255, 255, 0.8);
    --transparent-tertiary: rgba(202, 131, 171, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px auto 0px;
    text-align: center;
    width: 100%;
}

.navbar {
    margin: 0px auto;
    background-color: var(--light-primary);
    padding: 0px;
    padding-bottom: 7px;
}

.navbar-brand {
    padding-bottom: 7px;
    font-size: 35px;
    transition: all 0.5s;
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 3px auto 0px;
    width: 60%;
    background-color: var(--transparent-tertiary);
    border-radius: 50px;
    box-shadow: 0px 3px 2px 0px var(--transparent-primary);
}

.navbar:hover .navbar-brand {
    color: var(--light-primary);
    text-shadow:3px 3px 2px #000;
    transition: all 0.5s;
}

.container-fluid {
    margin: 40px auto 0px;
    text-align: center;
    padding: 15px;
    padding-top: 10px;
    background-color: var(--light-primary);
}

.row {
    margin: 0px auto;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.list-group-item {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    padding-bottom: 0px;
    background-color: var(--light-primary);
    border: none;
}

.btn-primary {
    cursor: pointer;
    min-width: 90%;
    padding: 5px;
    margin: 0px auto;
    text-align: center;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    color: #000;
    background-color: var(--secondary-color);
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn-primary:hover {
    border: 2px solid #000;
    background-color: var(--transparent-secondary);
    color: var(--tertiary-color);
    letter-spacing: 3px;
    transition: all 0.5s;
}

.modal-content {
    border-radius: 15px;
}

.modal-body {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 15px;
    background-color: var(--transparent-secondary);
    box-shadow: 5px 6px 6px 2px var(--transparent-tertiary);
  }

.modal-backdrop {
    background-color: var(--transparent-primary-overlay);
}

.close {
    float: left;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--tertiary-color);
    text-decoration: none;
    z-index: 9999;
  }

.close:hover {
    color: var(--secondary-color);
    background-color: var(--light-primary);
    text-shadow: 2px 2px 2px var(--primary-color);
    box-shadow: inset 0px 0px 15px 0px var(--transparent-tertiary);
  }

.modal-body h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    background: var(--light-primary);
    box-shadow: 3px 3px 3px 0px var(--transparent-tertiary);
    max-width: 900px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 2px;
  }
  
.modal-body p {
    margin-bottom: 10px;
    background: var(--light-primary);
    box-shadow: 3px 3px 3px 0px var(--transparent-tertiary);
    padding: 10px;
    border-radius: 15px;
    line-height: 35px;
    word-spacing: 5px;
    letter-spacing: 2px;
  }

.pokemon-sprite {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px auto 20px auto;
}

img.pokemon-sprite {
    max-width: 150px;
    background-color: var(--light-primary);
    box-shadow: 0px 0px 12px 6px var(--transparent-tertiary);
    border-radius: 50%;
  }